.rankingSection {
  padding: 16px 20px;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 10px;
}

.rankingHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sectionTitle {
  font-size: 1rem;
  font-weight: 500;
}

.seeAll {
  color: aquamarine;
}

.rankingList {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.rankingUserCard {
  padding: 16px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex: 1;
  background: #f5f5f5;
  border-radius: 10px;
}
