.todaysPointView {
  display: flex;
  flex-direction: column;
  background-color: rgb(205, 243, 232);
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
}

.text {
    font-size: 13px;
    font-weight: 100;
    color: gray;
}

.point {
    font-size: 40px;
}